

<section class="text-gray-600 body-font">
  <div class="container px-3 mx-auto">
      <div class="relative h-10">
        <div class="absolute h-14 w-100 top-0 start-0 ...">
          <button (click)="onBtnExport()" class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            Download CSV export file 
          </button>
        </div>
      </div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <ag-grid-angular
      style="height: 500px"
      class="ag-theme-quartz"
      [rowData]="userList"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
      [paginationPageSizeSelector]=[5,10,50,100]>
    </ag-grid-angular>
  </div>
</section>
